* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(15deg, rgb(0, 0, 0) 70%, rgb(255, 255, 255) 200%);
  background-attachment: local;
}

.conteiner {
  width: 85vw;
  margin: 0 auto;
}

.header {
  height: 12vh;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.8vh;
}
.logo__poker-pro {
  font-size: 4vh;
}
.logo__affiliate {
  font-size: 2.8vh;
  font-style: italic;
  margin-left: 0.3vh;
}

.nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.75vh;
}
.nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.nav ul li {
  font-size: 2.3vh;
  padding: 0.7vh 1.2vh;
  -webkit-text-decoration: underline 0.15em rgba(255, 255, 255, 0);
          text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  text-underline-offset: 0.3vh;
  transition: text-underline-offset 0.3s, color 0.075s, -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s, text-underline-offset 0.3s, color 0.075s;
  transition: text-decoration 0.3s, text-underline-offset 0.3s, color 0.075s, -webkit-text-decoration 0.3s;
}
.nav ul li:hover {
  text-decoration: underline;
  text-underline-offset: 1vh;
}
.nav ul li:active {
  color: rgb(77, 78, 78);
}

.main-top {
  display: flex;
  height: 88vh;
}
.main-top__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.main-top__img img {
  display: block;
  height: auto;
  max-height: 90%;
  max-width: 95%;
}
.main-top__tagline {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-top__tagline p {
  font-size: 6vh;
  padding: 0 5%;
}
.main-top__tagline button {
  color: white;
  padding: 1.3vw 1.8vw;
  margin-bottom: 14vh;
  border: none;
  border-radius: 10px;
  font-size: 0.85vw;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 30px 3px rgb(42, 42, 42);
  transition-property: background-position, background-image;
  transition-duration: 0.3s;
}
.main-top__tagline button:hover {
  background-position: right center;
}
.main-top__tagline button:active {
  background-position: right center;
  background-image: linear-gradient(to right, #689c93 0%, #2e1f94 51%, #689c93 100%);
}

.form {
  border-width: 4px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #9EEFE1, #4830F0) 30;
     border-image: linear-gradient(to right, #9EEFE1, #4830F0) 30;
  box-shadow: 0 0 30px 5px rgb(42, 42, 42);
  margin: 6vh auto;
  width: 60%;
  min-width: 65vh;
  height: 88vh;
}
.form__conteiner {
  border: 1px solid #000;
  margin: 0 auto;
  padding: 1.5vh 0;
  width: 85%;
}
.form__description {
  font-size: 3.1vh;
  text-align: center;
  margin-bottom: 5vh;
}
.form__question::after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 1vh;
}
.form__question span {
  font-size: 2.2vh;
  padding-bottom: 1.5vh;
  display: inline-block;
  width: 50%;
}
.form__question input, .form__question select, .form__question textarea {
  float: right;
  width: 45%;
  background: transparent;
}
.form__question input {
  font-size: 2.2vh;
  border: none;
  border-bottom: 1px solid white;
}
.form__question input:focus {
  outline: none;
}
.form__question select {
  margin-top: 0.3vh;
  font-size: 1.8vh;
}
.form__question select option {
  color: black;
}
.form__question textarea {
  font-size: 1.5vh;
  border: 1px solid white;
  height: 8vh;
  resize: none;
}
.form__buttons {
  padding: 5vh 0;
  display: flex;
  justify-content: space-evenly;
}
.form__buttons-button {
  color: white;
  padding: 0.8vh 1.6vh;
  border: none;
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8vh;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-size: 200% auto;
}
.form__buttons-button--dark {
  background-image: linear-gradient(to right, #a6a6a6 0%, #151515 51%, #a6a6a6 100%);
  margin-right: 2vh;
  transition-property: background-position;
  transition-duration: 0.4s;
}
.form__buttons-button--dark:hover {
  background-position: right center;
}
.form__buttons-button--color {
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  margin-left: 2vh;
  transition-property: background-position;
  transition-duration: 0.4s;
  box-shadow: 0 0 30px 3px rgb(42, 42, 42);
}
.form__buttons-button--color:hover {
  background-position: right center;
}/*# sourceMappingURL=style.css.map */