* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(15deg, rgb(0, 0, 0) 75%, rgb(255, 255, 255) 200%);
  background-attachment: local;
}
body.lock {
  overflow: hidden;
}

.conteiner {
  margin: 0 auto;
  width: 85vw;
}
@media (max-width: 1200px) {
  .conteiner {
    width: 90vw;
  }
}
@media (max-width: 1024px) {
  .conteiner {
    width: 92vw;
  }
}
@media (max-width: 767px) {
  .conteiner {
    width: 92vw;
  }
}
@media (max-width: 576px) {
  .conteiner {
    width: 92vw;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  max-height: 100px;
}
@media (max-width: 1024px) {
  .header {
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .header {
    min-height: 70px;
    max-height: 92px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.8rem;
  z-index: 5;
}
.logo__poker-pro {
  font-size: 2.2rem;
}
.logo__affiliate {
  font-style: italic;
  margin-left: 0.16rem;
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .logo {
    margin-top: 1.2rem;
  }
  .logo__poker-pro {
    font-size: 1.7rem;
  }
  .logo__affiliate {
    font-size: 1.25rem;
  }
}
@media (max-width: 1024px) {
  .logo {
    margin-top: 1.1rem;
  }
  .logo__poker-pro {
    font-size: 1.6rem;
  }
  .logo__affiliate {
    font-size: 1.15rem;
  }
}
@media (max-width: 767px) {
  .logo {
    margin-top: 1.2rem;
  }
  .logo__poker-pro {
    font-size: 1.7rem;
  }
  .logo__affiliate {
    font-size: 1.25rem;
  }
}
@media (max-width: 576px) {
  .logo {
    margin-top: 1.2rem;
  }
  .logo__poker-pro {
    font-size: 1.7rem;
  }
  .logo__affiliate {
    font-size: 1.25rem;
  }
}

.burger {
  display: none;
  width: 50px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
@media (max-width: 767px) {
  .burger {
    display: block;
    margin-top: 2.8rem;
  }
}
.burger span, .burger::before, .burger::after {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}
.burger::before, .burger::after {
  content: "";
}
.burger::before {
  top: 0;
  height: 9%;
}
.burger::after {
  bottom: 0;
}
.burger span {
  top: 50%;
  transform: scale(1) translate(0, -50%);
}
.burger.active span {
  transform: scale(0) translate(0, -50%);
}
.burger.active::before {
  transform: rotate(-45deg) translate(0, -100%);
  top: 50%;
}
.burger.active::after {
  transform: rotate(45deg) translate(0, 50%);
  bottom: 50%;
}

.nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.38rem;
  margin-top: 6.75rem;
}
@media (max-width: 1200px) {
  .nav {
    margin-top: 6.5rem;
  }
}
@media (max-width: 767px) {
  .nav {
    display: block;
    position: fixed;
    margin: 0;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 1s ease 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 4;
    overflow: auto;
  }
  .nav.active {
    left: 0;
  }
}
.nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
@media (max-width: 767px) {
  .nav ul {
    flex-direction: column;
    align-items: flex-end;
    margin: 9rem 0.5rem 0 0;
  }
}
.nav ul .nav__li {
  font-size: 1.3rem;
  line-height: 3rem;
  padding: 0.35rem 0.6rem;
  -webkit-text-decoration: underline 0.15em rgba(255, 255, 255, 0);
          text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  text-underline-offset: 0.16rem;
  transition: text-underline-offset 0.3s, color 0.075s, -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s, text-underline-offset 0.3s, color 0.075s;
  transition: text-decoration 0.3s, text-underline-offset 0.3s, color 0.075s, -webkit-text-decoration 0.3s;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .nav ul .nav__li {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  .nav ul .nav__li {
    font-size: 0.95rem;
    padding: 0.35rem 0.25rem;
  }
}
@media (max-width: 767px) {
  .nav ul .nav__li {
    font-size: 1.8rem;
    padding: 0.35rem 0.25rem;
    overflow: auto;
  }
}
.nav ul .nav__li:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.nav ul .nav__li:active {
  color: rgb(77, 78, 78);
}
.nav ul .nav__li--telegram {
  margin-left: 0.5rem;
}
.nav ul .nav__li--telegram a {
  text-decoration: none;
}
@media (min-width: 767px) {
  .nav ul .nav__li--telegram a .nav__telegram-text {
    display: none;
  }
}
.nav ul .nav__li--telegram img {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 0.4rem;
}
@media (max-width: 1200px) {
  .nav ul .nav__li--telegram img {
    height: 2rem;
    width: 2rem;
    margin-top: 0.65rem;
  }
}
@media (max-width: 767px) {
  .nav ul .nav__li--telegram img {
    display: none;
  }
}

.main-top {
  display: flex;
  height: 90vh;
  margin-bottom: 5rem;
}
@media (max-width: 1200px) {
  .main-top {
    max-height: 880px;
  }
}
@media (max-width: 1024px) {
  .main-top {
    max-height: 710px;
    height: 80vh;
    margin-bottom: 5.5rem;
  }
}
.main-top__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media (max-width: 1024px) {
  .main-top__img {
    margin-bottom: 2rem;
  }
}
.main-top__img img {
  display: block;
  height: auto;
  max-height: 80%;
  max-width: 85%;
}
.main-top__tagline {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-top__tagline p {
  padding: 0 5%;
  font-size: 3rem;
  margin-left: 5%;
}
@media (max-width: 1200px) {
  .main-top__tagline p {
    font-size: 2.4rem;
    margin-left: 10%;
    margin-top: 2rem;
  }
}
@media (max-width: 1024px) {
  .main-top__tagline p {
    font-size: 2.4rem;
    margin-left: 5%;
  }
}
.main-top__tagline button {
  color: white;
  margin-bottom: 7.25rem;
  border: none;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 30px 3px rgb(42, 42, 42);
  transition-property: background-position, background-image;
  transition-duration: 0.3s;
  font-size: 1rem;
  padding: 1rem 1.4rem;
  margin-left: 8%;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .main-top__tagline button {
    border-radius: 8px;
    font-size: 0.9rem;
    padding: 0.9rem 1.25rem;
    margin-left: 8%;
  }
}
@media (max-width: 1024px) {
  .main-top__tagline button {
    font-size: 11px;
    padding: 14px 16px;
    border-radius: 8px;
    margin-left: 8%;
  }
}
.main-top__tagline button:hover {
  background-position: right center;
}
.main-top__tagline button:active {
  background-position: right center;
  background-image: linear-gradient(to right, #689c93 0%, #2e1f94 51%, #689c93 100%);
}

.about-us {
  margin: 0 auto 10rem;
  width: 90%;
}
@media (max-width: 1200px) {
  .about-us {
    margin: 0 auto 5rem;
  }
}
@media (max-width: 1024px) {
  .about-us {
    margin: 0 auto 5rem;
  }
}
.about-us__text {
  font-size: 2.8rem;
  margin: 0 0 4rem 3.2rem;
}
@media (max-width: 1200px) {
  .about-us__text {
    font-size: 2.4rem;
  }
}
@media (max-width: 1024px) {
  .about-us__text {
    font-size: 2.2rem;
    margin: 0 0 2.5rem 3.2rem;
  }
}
.about-us__wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about-us__advantages {
  background-color: #151515;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgb(133, 133, 133);
  padding: 1rem 1rem 2rem;
  width: 27%;
  min-width: 280px;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .about-us__advantages {
    width: 30%;
    min-width: 252px;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .about-us__advantages {
    width: 90%;
    min-width: 252px;
    margin-bottom: 1.3rem;
    padding: 2rem 1rem 1rem;
    flex-direction: row;
  }
}
.about-us__advantages img {
  width: 96px;
  height: 96px;
  margin-bottom: 1rem;
}
.about-us__advantages p {
  font-size: 1.15rem;
  line-height: 1.5;
}
@media (max-width: 1200px) {
  .about-us__advantages p {
    font-size: 1.05rem;
    line-height: 1.4;
  }
}
@media (max-width: 1024px) {
  .about-us__advantages p {
    font-size: 1rem;
    line-height: 1.3;
    padding: 0 1.3rem;
  }
}

.coaches {
  width: 90%;
  margin: 0 auto 13rem;
}
@media (max-width: 1320px) {
  .coaches {
    width: 99%;
  }
}
@media (max-width: 1200px) {
  .coaches {
    margin: 0 auto 8rem;
  }
}
.coaches__wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .coaches__wrap {
    flex-direction: column;
  }
}
.coaches__text {
  font-size: 2.8rem;
  margin: 0 0 4rem 3.2rem;
}
@media (max-width: 1200px) {
  .coaches__text {
    font-size: 2.4rem;
    margin: 0 0 3rem 6.3rem;
  }
}
@media (max-width: 1024px) {
  .coaches__text {
    font-size: 2.2rem;
    margin: 0 0 2.5rem 3.2rem;
  }
}

.coach-block {
  background-color: #151515;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgb(133, 133, 133);
  padding: 1rem 0 2rem;
  width: 30%;
  min-width: 320px;
  margin-right: 1.5%;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .coach-block {
    width: 82%;
    max-width: 764px;
    min-width: 252px;
    margin: 0 auto 1.3rem;
    padding: 0.5rem 0 1rem;
  }
}
@media (max-width: 1024px) {
  .coach-block {
    width: 82%;
    margin-bottom: 1.3rem;
  }
}
.coach-block__top {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.coach-block__photo {
  height: 115px;
  width: 115px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  left: 7%;
  top: 17%;
}
@media (max-width: 1200px) {
  .coach-block__photo {
    height: 105px;
    width: 105px;
    top: 12%;
    left: 8%;
  }
}
.coach-block__name {
  font-size: 1.5rem;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: right;
  width: 220px;
  padding: 2rem 2rem;
}
@media (max-width: 1200px) {
  .coach-block__name {
    font-size: 1.4rem;
    width: 50%;
    min-width: 300px;
  }
}
@media (max-width: 1024px) {
  .coach-block__name {
    font-size: 1.3rem;
  }
}
.coach-block__discipline {
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 100%);
  padding: 0.6rem 0 0.6rem 7%;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 0.75rem;
}
@media (max-width: 1200px) {
  .coach-block__discipline {
    font-size: 1.3rem;
    padding: 0.4rem 0 0.4rem 0;
    margin-bottom: 0.5rem;
  }
}
.coach-block__discription {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 1.3rem 1rem 1.5rem;
  margin-bottom: 0.75rem;
}
@media (max-width: 1200px) {
  .coach-block__discription {
    font-size: 1rem;
    padding: 0.5rem 1.3rem 0.75rem;
    margin-bottom: 0.5rem;
  }
}
.coach-block__link {
  border: 2px solid white;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: auto;
  display: flex;
}
.coach-block__link p {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0.6rem 0.5rem 0.6rem 1.5rem;
}
@media (max-width: 1200px) {
  .coach-block__link p {
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    margin-bottom: 0.1rem;
  }
}
.coach-block__link img {
  width: 28px;
  height: 28px;
  margin-top: 0.6rem;
  margin-right: 1.5rem;
}
@media (max-width: 1200px) {
  .coach-block__link img {
    width: 25.5px;
    height: 25.5px;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
  }
}

.form {
  border-width: 4px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #9EEFE1, #4830F0) 30;
     border-image: linear-gradient(to right, #9EEFE1, #4830F0) 30;
  box-shadow: 0 0 30px 5px rgb(42, 42, 42);
  margin: 0 auto 10rem;
  height: auto;
  width: 60%;
  max-width: 800px;
  min-width: 725px;
}
@media (max-width: 1200px) {
  .form {
    width: 725px;
    min-width: 725px;
  }
}
@media (max-width: 1024px) {
  .form {
    width: 70%;
    min-width: 680px;
  }
}
@media (max-width: 767px) {
  .form {
    width: 90%;
  }
}
.form__conteiner {
  margin: 0 auto;
  padding: 2.5rem 0 0.8rem;
  width: 85%;
}
.form__description {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2.7rem;
}
.form__question::after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 0.55rem;
}
.form__question span {
  font-size: 1.15rem;
  padding-bottom: 0.8rem;
  display: inline-block;
  width: 50%;
}
.form__question input, .form__question select, .form__question textarea {
  float: right;
  width: 45%;
  background: transparent;
}
.form__question input {
  font-size: 1.15rem;
  border: none;
  border-bottom: 1px solid white;
}
.form__question input:focus {
  outline: none;
}
.form__question select {
  margin-top: 0.15rem;
  font-size: 0.95rem;
}
.form__question select option {
  color: black;
}
.form__question textarea {
  font-size: 0.8rem;
  border: 1px solid white;
  height: 4.4rem;
  resize: none;
}
.form__buttons {
  padding: 2.6rem 0;
  display: flex;
  justify-content: space-evenly;
}
.form__buttons-button {
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-size: 200% auto;
  cursor: pointer;
}
.form__buttons-button--dark {
  background-image: linear-gradient(to right, #a6a6a6 0%, #151515 51%, #a6a6a6 100%);
  margin-right: 1.05rem;
  transition-property: background-position;
  transition-duration: 0.4s;
}
.form__buttons-button--dark:hover {
  background-position: right center;
}
.form__buttons-button--color {
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  margin-left: 1.05rem;
  transition-property: background-position;
  transition-duration: 0.4s;
  box-shadow: 0 0 30px 3px rgb(42, 42, 42);
}
.form__buttons-button--color:hover {
  background-position: right center;
}/*# sourceMappingURL=style.css.map */