* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(15deg, rgba(0,0,0,1) 70%, rgba(255,255,255,1) 200%);
    background-attachment: local;

    .conteiner {
        width: 85vw;
        margin: 0 auto;

        .header {  // Header
            height: 12vh;
            display: flex;
            justify-content: space-between;

            .header_logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 1.8vh;

                p {
                    font-size: 4vh;
                }
                .affiliate {
                    font-size: 2.5vh;
                    font-style: italic;
                    margin-left: 0.3vh;
                }
            }

            .header_logo p {
                font-size: 4vh;
            }

            .header_nav {
                display: flex;
                align-items: flex-end;
                margin-bottom: 0.75vh;
            }

            .header_nav ul {
                display: flex;
                flex-direction: row;
                list-style-type: none;

                li {
                    font-size: 2.3vh;
                    padding: 0.7vh 1.2vh;
                    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
                    text-underline-offset: 0.3vh;
                    transition: text-decoration 0.3s, text-underline-offset 0.3s, color 0.075s;
                }
                li:hover {
                    text-decoration: underline;
                    text-underline-offset: 1vh;
                }
                li:active {
                    color: DarkSlateGray;
                }
            }
        }

        .main_top {    // Начало страницы
            display: flex;
            height: 88vh;

            .main_top_img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;

                img {
                    display: block;
                    height: auto;
                    max-height: 90%;
                    max-width: 95%;

                }
            }

            .main_top_quote {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                p {
                    font-size: 6vh;
                    padding: 0 5%;
                }

                button {
                    color: white;
                    padding: 1.3vw 1.8vw;
                    margin-bottom: 14vh;
                    border: none;
                    border-radius: 10px;
                    font-size: 0.85vw;
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
                    background-size: 200% auto;
                    box-shadow: 0 0 30px 3px rgb(42, 42, 42);
                    transition-property: background-position, background-image;
                    transition-duration: .3s;
                }

                button:hover {
                    background-position: right center;
                }

                button:active {
                    background-position: right center;
                    background-image: linear-gradient(to right, #689c93 0%, #2e1f94 51%, #689c93 100%);
                }
            }
        }

        .main_form {   // форма
            border-width: 4px;
            border-style: solid;
            border-image: linear-gradient(to right ,#9EEFE1, #4830F0) 30; 
            box-shadow: 0 0 30px 5px rgb(42, 42, 42);                         
            margin: 50px auto 80px;
            width: 50%;
            min-width: 65vh;
            height: 80vh;
            

            .main_form_conteiner {
                border: 1px solid #000;
                margin: 0 auto;
                padding: 1.5vh 0;
                width: 85%;

                .description {
                    font-size: 3.1vh;
                    text-align: center;
                    margin-bottom: 2.4vh;
                }

                .main_form_info {
                    display: flex;

                    .main_form_info_text {
                        padding-left: 2vh;
                        width: 50%;

                        p {
                            font-size: 2.2vh;
                            padding: 0 0.5vh;
                            padding-bottom: 1.25vh;
                        }

                        p:last-of-type {
                            margin-top: 2vh;
                        }
                    }

                    .main_form_info_inputs {
                        width: 50%;

                        input, textarea, select{
                            margin: 0 0.5vh;
                            margin-bottom: 1.1vh;
                            background: transparent;
                            color: white;
                        }

                        input {
                            font-size: 2.2vh;
                            border: none;
                            border-bottom: 1px solid white;
                        }

                        textarea {
                            font-size: 1.5vh;
                            margin-top: 2.5vh;
                            border: 1px solid white;
                            height: 12vh;
                            width: 26.25vh;
                            resize: none;
                        }

                        select {
                            margin-top: 0.8vh;
                            margin-bottom: 2.2vh;
                            width: 26.25vh;
                            font-size: 1.8vh;
                        }

                        input:focus, textarea:focus {
                            outline: none;
                        }
                    }
                }

                .main_form_buttons {
                    padding: 5vh 0;
                    display: flex;
                    justify-content: space-evenly;

                    button {
                        color: white;
                        padding: 0.8vh 1.6vh;
                        border: none;
                        border-radius: 2px;
                        font-family: 'Montserrat', sans-serif;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        background-size: 200% auto;
                        
                    }

                    .clear {
                        background-image: linear-gradient(to right, #a6a6a6 0%, #151515 51%, #a6a6a6 100%);
                        margin-right: 2vh;
                        transition-property: background-position, background-image;
                        transition-duration: .4s;
                    }
                    .clear:hover {
                        background-position: right center
                    }

                    .send {
                        background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
                        margin-left: 2vh;
                        transition-property: background-position, background-image;
                        transition-duration: .4s;
                        font-size: 1.8vh;
                        box-shadow: 0 0 30px 3px rgb(42, 42, 42);
                    }
                    .send:hover {
                        background-position: right center
                    }
                }
            }   
        }
    }
}