@import "./breakpoints.scss";

* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(15deg, rgb(0, 0, 0) 70%, rgba(255,255,255,1) 200%);
    background-attachment: local;
}

.conteiner {
    margin: 0 auto;
    width: 85vw;

    @media (max-width: $breakpoint_xxl) {
        width: 90vw;
    }
    @media (max-width: $breakpoint_xl) {
        width: 92vw;
    }
    @media (max-width: $breakpoint_md) {
        width: 92vw;
    }
    @media (max-width: $breakpoint_sm) {
        width: 92vw;
    }

}

.header {  // Header
    display: flex;
    justify-content: space-between;
    height: 12vh;
    max-height: 100px;

    @media (max-width: $breakpoint_md) {
        max-height: 92px;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.8rem;

    &__poker-pro {
        font-size: 2.2rem;
    }

    &__affiliate {
        font-style: italic;
        margin-left: 0.16rem;
        font-size: 1.5rem;
    }
    @media (max-width: $breakpoint_xl) {
        margin-top: 1.2rem;
    
            &__poker-pro {
                font-size: 1.8rem;
            }
        
            &__affiliate {
                font-size: 1.25rem;
            }
    }
    @media (max-width: $breakpoint_md) {
        margin-top: 1.2rem;
    
            &__poker-pro {
                font-size: 1.7rem;
            }
        
            &__affiliate {
                font-size: 1.25rem;
            }
    } 
    @media (max-width: $breakpoint_sm) {
        margin-top: 1.2rem;
    
            &__poker-pro {
                font-size: 1.7rem;
            }
        
            &__affiliate {
                font-size: 1.25rem;
            }
    } 
}

.nav {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.38rem;

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        li {
            font-size: 1.3rem;
            padding: 0.35rem 0.6rem;
            text-decoration: underline 0.15em rgba(255, 255, 255, 0);
            text-underline-offset: 0.16rem;
            transition: text-decoration 0.3s, text-underline-offset 0.3s, color 0.075s;

            @media (max-width: $breakpoint_xl) {
                font-size: 1.1rem;
            }

            &:hover {
                text-decoration: underline;
                text-underline-offset: .5rem;
            }

            &:active {
                color: rgb(77, 78, 78);
            }
        }
    }
}

.main-top {    // Начало страницы
    display: flex;
    height: 90vh;

    @media (max-width: $breakpoint_xxl) {
        max-height: 880px;
    }
    @media (max-width: $breakpoint_xl) {
        max-height: 710px;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        @media (max-width: $breakpoint_xl) {
                margin-bottom: 4rem;
        }

        img {
            display: block;
            height: auto;
            max-height: 80%;
            max-width: 85%;
        }
    }

    &__tagline {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        p {
            padding: 0 5%;
            font-size: 3rem;
            margin-left: 5%;

            @media (max-width: $breakpoint_xxl) {
                font-size: 2.7rem;
                margin-left: 10%;
            }
            @media (max-width: $breakpoint_xl) {
                font-size: 2.4rem;
                margin-left: 5%;
            }
        }

        button {
            color: white;
            margin-bottom: 7.25rem;
            border: none;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
            background-size: 200% auto;
            box-shadow: 0 0 30px 3px rgb(42, 42, 42);
            transition-property: background-position, background-image;
            transition-duration: .3s;
            font-size: 15px;
            padding: 15px 19px;
            margin-left: 8%;

            @media (max-width: $breakpoint_xxl) {
                margin-left: 10%;
            }
            @media (max-width: $breakpoint_xl) {
                font-size: 11px;
                padding: 14px 16px;
                border-radius: 8px;
                margin-left: 8%;
            }
    
            &:hover {
                background-position: right center;
            }
    
            &:active {
                background-position: right center;
            background-image: linear-gradient(to right, #689c93 0%, #2e1f94 51%, #689c93 100%);
            }
        }
    }
}       

.form {   // форма
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right ,#9EEFE1, #4830F0) 30; 
    box-shadow: 0 0 30px 5px rgb(42, 42, 42);                         
    margin: 0 auto 7rem;
    height: auto;
    width: 60%;
    max-width: 800px;
    min-width: 725px;

    @media (max-width: $breakpoint_xxl) {
        width: 70%;
        min-width: 680px;
    }
    @media (max-width: $breakpoint_xl) {
        width: 70%;
        min-width: 680px;
        max-height: 810px;
    }
    @media (max-width: $breakpoint_md) {
        width: 90%;
    }

    &__conteiner {
        margin: 0 auto;
        padding: 2.5rem 0 0.8rem;
        width: 85%;
    }

    &__description {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 2.7rem;
    }

    &__question {

        &::after {
            content: '';
            display: block;
            clear: both;
            margin-bottom: 0.55rem;
        }

        span {
            font-size: 1.15rem;
            padding-bottom: 0.8rem;
            display: inline-block;
            width: 50%;
        }

        input, select, textarea {
            float: right;
            width: 45%;
            background: transparent;
        }
    
        input {
            font-size: 1.15rem;
            border: none;
            border-bottom: 1px solid white;
    
            &:focus {
                outline: none;
            }
        }
    
        select {
            margin-top: 0.15rem;
            font-size: 0.95rem;
    
            option {
                color: black;
            }
        }
    
        textarea {
            font-size: 0.8rem;
            border: 1px solid white;
            height: 4.4rem;
            resize: none;
        }
    }

    &__buttons {
        padding: 2.6rem 0;
        display: flex;
        justify-content: space-evenly;

        &-button {
            color: white;
            padding: 0.4rem 0.85rem;
            border: none;
            border-radius: 2px;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.85rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-size: 200% auto;
    
            &--dark {
                background-image: linear-gradient(to right, #a6a6a6 0%, #151515 51%, #a6a6a6 100%);
                margin-right: 1.05rem;
                transition-property: background-position;
                transition-duration: .4s;
    
                &:hover {
                    background-position: right center
                }
            }
    
            &--color {
                background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
                margin-left: 1.05rem;
                transition-property: background-position;
                transition-duration: .4s;
                box-shadow: 0 0 30px 3px rgb(42, 42, 42);
            
                &:hover {
                    background-position: right center
                }
            }
        }
    }
}

.about-us {
    border: 1px solid white;
    width: 80%;
    margin: 0 auto 6rem;

    &__text {
        font-size: 2.8rem;
        margin: 0 0 1rem 1.5rem;
    }

    &__wrap {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__advantages {
        border: 1px solid white;
        background-color: #151515;
        border-radius: 10px;
        box-shadow: 0 0 5px 1px rgb(133, 133, 133);
        padding: 1rem 1rem 2rem;
        width: 27%;
        height: auto;
        display: flex;
        flex-direction: column;

        img {
            width: 96px;
            height: 96px;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.15rem;
            line-height: 1.5;
        }
    }
}

.coaches {
    border: 1px solid white;
    width: 80%;
    margin: 0 auto 6rem;

    &__text {
        font-size: 2.8rem;
        margin: 0 0 1rem 1.5rem;
    }
}

.coach-block {
    border: 1px solid white;
    margin-bottom: 1rem;
}
